/* ****************************
 * Any overrides to Bootstrap
 * mark.rank@cirrusidentity.com
 * 2017-09-04
 **************************** */

.ai-body-color {
  background-color: #fff9eb;
  background: #fff9eb;
  border-radius: 3px;
  border: 3px solid #5f5f5f;
  opacity: 1.0;
}

.ai-body-brown {
  background-color: #3F1605;
}

.ai-body-bkg {
  background-color: #f1daa5; 
}

.ai-footer-color {
  background-color: #3F1605;
  background: #3F1605;
}

.ai-footer-span {
	padding: 0 1em 0 1em;
}

.ai-panel-img {
  width:100%;
  height:auto;
}

